{% extends 'base.html' %}

{% block main %}
<div class="zhongjian layui-col-md6">

        <div class="zu1">
        <div class="tb0">
            <h1>{{ post.title }}</h1>
        </div>
        <div class="shibian">
            <div class="shi01">
                <span class="shi02">{{ post.created_time }}</span>
            </div>
            <div class="bian01">
                <span class="bian02">阅读数：453 </span>
                <a href="" class="bian03"> 编辑</a>
            </div>
        </div>
        </div>
        <article class="wb00">
            <div class="markdown-body">
            {{ post.body|safe }}
            </div>
        </article>

        <div class="wbiao">
            <span class="wbiao01">文章标签：</span>
            <a href="" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger">{{ post.category.name }}</a>
            <a href="" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger">三层架构</a>
            <a href="" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger">短信系统</a>
            <a href="" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger">Codesmith</a>
            <a href="" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger">VS2017 SQL2016</a>
        </div>

        <div class="ping01">
            <div class="pinglun">
                <acticle contenteditable="true"  class="layui-textarea">想对作者点什么</acticle>
            </div>
        </div>
        <div class="fabiao">
            <span>还能输入1000个字符</span>
            <a href="" 	class="layui-btn layui-btn-radius layui-btn-normal">发表评论</a>
        </div>
        <div class="pingxian">
            <ul class="pingxian0">
                <li class="pingxian1">
                    <div class="px00">
                        <a href=""><img class="pianx0" src="../../static/imgs/uimgs/1_mdxiaohu.jpg" alt=""></a>
                    <div><span>mdxiaohu</span>
                    <span>2018-07-15 20:28:10</span></div>
                    </div>
                        <div class="pingxian3">
                        不错，有收获。
                    </div>
                </li>
                <li class="pingxian1">
                    <div class="px00">
                        <a href=""><img class="pianx0" src="../../static/imgs/uimgs/1_mdxiaohu.jpg" alt=""></a>
                        <div><span>mdxiaohu</span>
                            <span>2018-07-15 20:28:10</span></div>
                    </div>
                    <div class="pingxian3">
                        不错，有收获。
                    </div>
                </li>
                <li class="pingxian1">
                    <div class="px00">
                        <a href=""><img class="pianx0" src="../../static/imgs/uimgs/1_mdxiaohu.jpg" alt=""></a>
                        <div><span>mdxiaohu</span>
                            <span>2018-07-15 20:28:10</span></div>
                    </div>
                    <div class="pingxian3">
                        不错，有收获。
                    </div>
                </li>
                <li class="pingxian1">
                    <div class="px00">
                        <a href=""><img class="pianx0" src="../../static/imgs/uimgs/1_mdxiaohu.jpg" alt=""></a>
                        <div><span>mdxiaohu</span>
                            <span>2018-07-15 20:28:10</span></div>
                    </div>
                    <div class="pingxian3">
                        不错，有收获。
                    </div>
                </li>
                <li class="pingxian1">
                    <div class="px00">
                        <a href=""><img class="pianx0" src="../../static/imgs/uimgs/1_mdxiaohu.jpg" alt=""></a>
                        <div><span>mdxiaohu</span>
                            <span>2018-07-15 20:28:10</span></div>
                    </div>
                    <div class="pingxian3">
                        不错，有收获。
                    </div>
                </li>
            </ul>
        </div>
        <div id="demo3"></div>
    </div>
{% endblock main %}