{% extends 'base.html' %}

{% block main %}
 <div class="filter-box d-flex align-items-center">
      <form action="" id=seeOriginal>
    <label class="chk-box" for="chkOriginal">
      <input onchange="this.checked ? document.getElementById('seeOriginal').submit() : location.href = 'https://blog.csdn.net/To_be_Designer'" type="checkbox" name="t" value="1"  id="chkOriginal">只看原创</label></form>
    <dl class="filter-sort-box d-flex align-items-center">
    <dt>排序：</dt>
    <dd><a href="javascript:void(0);" class="btn-filter-sort active" target="_self">默认</a></dd>
    <dd><a href="https://blog.csdn.net/To_be_Designer?orderby=UpdateTime" class="btn-filter-sort " target="_self">按更新时间</a></dd>
    <dd><a href="https://blog.csdn.net/To_be_Designer?orderby=ViewCount" class="btn-filter-sort " target="_self">按访问量</a></dd>
    <dd><a class="btn btn-sm rss" href="https://blog.csdn.net/to_be_designer/rss/list">
		<svg class="icon" aria-hidden="true">
			<use xlink:href="#csdnc-rss"></use>
		</svg>RSS订阅</a>
    </dd>
  </dl>
</div>



<div class="article-list">
    {% for post in post_list %}
    <div class="article-item-box csdn-tracking-statistics" data-articleid="48227697">
    		<svg class="icon settop" aria-hidden="true">
      <use xlink:href="#csdnc-settop"></use>
    </svg>
	    <h4 class="">
        <a href="{{ post.get_absolute_url }}" target="_blank">
        <span class="article-type type-1">
            原        </span>
          {{ post.title }}</a>
    </h4>
    <p class="content">
      <a href="{{ post.get_absolute_url }}" target="_blank">
        {{ post.excerpt }}</a>
    </p>
    <div class="info-box d-flex align-content-center">
      <p>
        <span class="date">{{ post.created_time }}</span>
      </p>
      <p class="point"></p>
      <p>
        <span class="read-num">阅读数 <span class="num">2244</span> </span>
      </p>
      <p class="point"></p>
      <p>
        <span class="read-num">评论数 <span class="num">2</span> </span>
      </p>
    </div>
      </div>
    {% empty %}
    <div class="article-item-box"><p class="content">暂时还没有发布的文章！</p></div>
    {% endfor %}
    <div class="pagination-box" id="pageBox"></div>
</div>
{% endblock main %}