{% extends 'base.html' %}

{% block main %}
 <div class="zhongjian layui-col-md9">
        <div class="you">
        <div class="wenzhang0">
            <form class="layui-form" action="">
                <div class="layui-form-item" pane="">
                    <div class="dingyi layui-input-block">
                        <input type="checkbox" name="like1[write]" lay-skin="primary" title="只看原创" checked="">
                    </div>
                </div>
            </form>
            <dl class="paixu">
                <dt class="px01">排序：</dt>
                <dd class="px03"><a href="">默认</a></dd>
                <dd class="px02"><a href="" class="px04">按更新时间</a></dd>
                <dd class="px02"><a href="" class="px04">按访问量</a></dd>
            </dl>
        </div>
        <ul class="wxbd01">
            {% for post in post_list %}
        <li class="tuisong01">

            <h2 class="tuisongbt" ><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <div class="tongsongnr">
                {{ post.excerpt}}
            </div>
            <div class="boke01">
              <div class="boke02">
                <div class="boke05 layui-breadcrumb" lay-separator="·">
                    <a class="buyao01">{{ post.created_time }}</a>
                    <a href="" class="fenlei01 bokexf01">{{ post.category.name }}</a>
                </div>
              </div>
                <div class="boke04">
                    <div class="boke03 layui-breadcrumb" lay-separator="·">
                    <a href="" class="bokexf01"><span class="nu">500</span> 阅读</a>
                    <a href="" class="bokexf01"><span class="nu" >0</span> 评论</a>
                    </div>
                </div>
            </div>

            <!--<div class="piaofu">
                <button class="layui-btn layui-btn-primary layui-btn-xs zhiding0">置顶</button>
                <span class="gang">|</span>
                <button class="layui-btn layui-btn-primary layui-btn-xs bianji0">编辑</button>
                <span class="gang">|</span>
                <button class="layui-btn layui-btn-primary layui-btn-xs shanchu0">删除</button>
            </div>-->
        </li>
            {% empty %}
            <h2 class="tuisongbt">暂时还没有发布的文章！</h2>
            <div class="tongsongnr">
                &nbsp&nbsp
            </div>

            {% endfor %}
        </ul>
            <div id="demo2"></div>
    </div>

{% endblock main %}